# =========================
# Python / Django Backend
# =========================

venv/
env/
.venv/

__pycache__/
*.py[cod]

db.sqlite3
db.sqlite3-journal

.env
.env.*

staticfiles/
media/

*.log

# Firebase credentials
firebase-credentials.json


# =========================
# React / Vite Frontend
# =========================

node_modules/
dist/
build/

.env.local
.env.development.local
.env.test.local
.env.production.local


# =========================
# IDE / OS
# =========================

.vscode/
.idea/
.DS_Store
Thumbs.db